# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/

# PyInstaller
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache/

# MyPy
.mypy_cache/

# Model files
*.h5
*.ckpt
*.pt
*.onnx

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Local environment variables
.env

# Ensure .venv is ignored
.venv/ 

# Node.js / Prettier
node_modules/
package-lock.json

models/Mistral-7B-v0.1/